@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Minnie';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Minnie.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Righteous-Regular.ttf) format('truetype');
  }
}

@layer components {
  .btn-animate {
    @apply transition duration-150 ease-in-out transform hover:-translate-y-0.5 active:translate-y-0.5;
  }
}