@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Minnie';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://dl.dafont.com/dl/?f=minnie) format('ttf');
    }
  }